h4.contact {
  margin-bottom: 20px;
}

.contact-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 15px;
}

.contact-container > a {
  width: 33%;
  text-align: center;
  padding: 25px 20px;
  border-radius: 10px;
  font-size: 1rem;
  color: #00ee42;
  background: #033faf;
  font-weight: bold;
  border: 1px solid #00ee42;
}

.contact-container > a:hover {
  color: #033faf;
  background: #00ee42;
}

.contact-container i {
  color: inherit;
  font-size: 2rem;
}

/*=============================================
MOVIL VERTICAL (1023px)
=============================================*/

@media (max-width: 1199px) and (min-width: 768px) {
  .contact-container {
    flex-wrap: wrap;
  }

  .contact-container > a {
    width: 45%;
    font-size: 0.8rem;
  }
}

/*=============================================
MOVIL VERTICAL (320px)
=============================================*/

@media (max-width: 767px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-container > a {
    width: 100%;
    font-size: 0.7rem;
  }
}