/*=============================================
TABLET HORIZONTAL (LG 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {
  .nav-menu nav a {
    font-size: 1rem;
  }
}

/*=============================================
TABLET VERTICAL (MD 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {
  .nav-menu nav a {
    font-size: 1rem;
  }
}

/*=============================================
MÓVIL HORIZONTAL (SM 576px)
=============================================*/

@media (max-width: 767px) and (min-width: 576px) {
  .nav-menu nav a {
    font-size: 1rem;
  }
}

/*=============================================
MOVIL VERTICAL (320px)
=============================================*/

@media (min-width: 576px) {
  .nav-burguer{
    display: none;
  }
}

@media (max-width: 575px) {
  /*menu-display*/

  header{
    height: auto;
  }

  .brand-logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-burguer > i.bi-list{
    font-size: 2rem;
    color: white;
  }

  .nav-burguer > i.bi-chevron-contract{
    font-size: 2rem;
    color: white;
    display: none;
  }
  
  /*menu-display-control*/

  .header-container{
    display: block;
  }

  .nav-menu nav{
    flex-direction: column;
  }

  .nav-menu nav a {
    font-size: 1rem;
    padding: 0;
  }

  nav > a:nth-child(2){
    margin-bottom: 5px;
  }

  /*menu*/
  .nav-menu{
    display: none;
  }

  .two-columns{
    margin-top: 20px !important;
    margin-bottom: 40px;
  }

  .banner-name{
    font-size: 2rem;
  }

  /*hero-text*/
  .banner-text{
    display: none;
  }

  .hero{
    width: 100%;
    height: auto;
    
  }

  /*two-columns*/
  .hero .left-column{
    width: 90%;
    margin: auto;
  }
  .hero .right-column{
    display: none;
  }
  .banner-img{
    width: 40%;
    height: auto;
  }

  .banner-quote{
    font-size: 1rem;
    margin-bottom: 20px;
  }
}
